@import "../../styles/variables.scss";

.paper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper h3 {
  margin: 10px 0;
}

.paper .MuiFormControl-root {
  margin: 10px 0;
}

.error-text {
  padding: 10px;
  color: $error-color;
}

.paper form {
  display: flex;
  flex-direction: column;
}
